.content_details {
  display: block;
  float: left;
  padding-left: 70px;
  padding-top: 130px;
  width: 48%;
  font-size: 20px;
}

.video_details {
  display: block;
  float: right;
  padding-right: 30px;
  width: 45%;
}

.close_details {
  position: absolute;
  margin-left: 20px;
  padding: 2px 6px;
  margin-top: 40px;
  border: 2px solid white;
  font-weight: bold;
}

.video_details iframe {
  padding-top: 30px;
  /* padding-right: 30px; */
}

.content_details h2 {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
