body {
  background-color: black;
  color: white;
}

.movies-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: auto 2.5%;
}

.movies__list_row_styles {
  position: relative;
  display: inline-block;
  height: 300px !important;
  width: 100% !important;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.movies__list_row_styles::-webkit-scrollbar {
  display: none;
}

.movies__list_row_styles img {
  width: 180px !important;
  height: 90%;
  padding-top: 10px;
  transition: transform 1.5s;
  padding-right: 10px;
}

.movies__list_row_styles img.hover-zoom:hover {
  transform: scale(1.11);
}
